@page "/eventmgr"
@using EventEaseApp.Models
@using EventEaseApp.Services

@inject EventService EventService

<h2>Event Manager</h2>

<a class="btn btn-success mb-3" href="/addevent">Add New Event</a>

<hr />

@if (events.Count == 0)
{
    <p>No events yet.</p>
}
else
{
    @foreach (var evt in events)
    {
        <EventCard Event="evt" OnDeleteClicked="() => DeleteEvent(evt)" />
    }
}

@code {
    private List<Event> events = new();

    protected override void OnInitialized()
    {
        events = EventService.GetEvents().ToList();
    }

    private void DeleteEvent(Event evt)
    {
        EventService.DeleteEvent(evt);
        events = EventService.GetEvents().ToList();
        StateHasChanged();
    }
}
